.para1{color:yellow;border:10px red solid;background-color: slategrey;text-align: justify;}
        #para2{background-color:red;border:5px blue solid}
        img{border-top-right-radius: 50%;border-top:10px black solid;border-bottom:10px red solid;border-bottom-left-radius:30%;}
        .h1{color: White;background-color: green;border: 10px purple solid;text-align: center;text-size-adjust:100px;}
        .two{color: aquamarine;}
        ul{list-style: none; }
        li{float: left;margin-left: 30px;background-color: blueviolet;color: aqua;text-align: cent